<footer class="footer bg-light py-3 mt-auto">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-12">
        <div class="text-muted">Created with &hearts; CaesarSage </div>
        <div class="text-muted">&copy; Destiny's Website 2023</div>
      </div>
    </div>
  </div>
</footer>