<% layout('layout/boilerplate') %>

<div id="top" class="jumbotron bg-img">
  <div class="container text-white">
    <h1 id="app"></h1>
    <p class="lead" id="app2"></p>
  </div>

  <div class="overlay"></div>
  <a href="#profile" class="scroll-down">
    <span style="color: white" class="fa fa-arrow-down fa-4x"></span>
  </a>
</div>

<!-- Navbar -->
<div class="wrapper">
  <nav id="nav" class="navbar navbar-expand-lg navbar-dark" data-spy="affix">
    <div class="container-fluid flex-column">
      <div class="nav-header">
        <a class="navbar-brand d-lg-none d-md-none" href="/"
          >Destiny Erhabor Portfolio</a
        >
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navcola"
          aria-controls="navcola"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="nav-toggle navbar-toggler-icon navbar-dark"></span>
        </button>
      </div>
      <div class="collapse navbar-collapse flex-column" id="navcola">
        <ul class="navbar-nav mb-lg-0 flex-column">
          <li class="nav-item">
            <a class="nav-link" href="#profile">Profile</a>
          </li>

          <li></li>
          <li class="nav-item">
            <a class="nav-link" href="#experiences">Experience</a>
          </li>

          <li></li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Body content -->

  <section class="text-center" id="profile">
    <div class="container">
      <div class="">
        <h2 class="text-center">Profile</h2>
        <p class="lead text-center"><span id="app3"></span></p>
        <hr />
        <div class="row text-left">
          <div class="col-md-4" data-aos="fade-right">
            <h3>About me</h3>
            <p>
              I am a software developer with a passion for building scalable and
              maintainable software. I write technical articles for web and cloud communities.
            </p>
          </div>
          <div class="col-md-4 text-center-sm" data-aos="fade-right">
            <img
              src="/me.jpg"
              alt="Destiny"
              class="img-fluid img"
              width="240"
              height="240"
            />
          </div>
          <div class="text-start col-md-4 mt-sm-2" data-aos="fade-right">
            <h3 class="text-left">Details</h3>
            <p class="lead text-left">
              <strong>Name:</strong><br />
              Destiny Erhabor<br />
              <strong>Location:</strong><br />
              Earth
            </p>
            <div class="d-flex">
              <a
                href="https://linkedin.com/in/destiny-erhabor"
                class="follow-button"
                data-show-count="false"
                data-size="small"
                data-show-screen-name="false"
                target="_blank"
              >
                <i class="fa fa-linkedin fa-2x"></i>
              </a>
              </a>
              <a
                href="https://github.com/caesarsage"
                class="follow-button"
                data-show-count="false"
                data-size="small"
                data-show-screen-name="false"
                target="_blank"
              >
                <i class="fa fa-github fa-2x"></i>
              </a>
              <a
                href="https://twitter.com/caesar_sage"
                class="follow-button"
                data-show-count="false"
                data-size="small"
                data-show-screen-name="false"
                target="_blank"
              >
                <i class="fa fa-twitter fa-2x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="stack text-center">
        <h3>Core Stacks</h3>
        <span class="badge btn-success mb-1">HTML</span>
        <span class="badge btn-success mb-1">CSS</span>
        <span class="badge btn-success mb-1">JAVASCRIPT</span>
        <span class="badge btn-success mb-1">NODEJS</span>
        <span class="badge btn-success mb-1">DevOps</span>
        <span class="badge btn-success mb-1">PYTHON</span>
      </div> -->
      <!-- <section class="mt-1 text-center">
        <h3>Project</h3>
        <p class="lead">Trip to my Repository</p>
        <a href="https://github.com/caesarsage" class="follow-button" data-show-count="false" data-size="large"
          data-show-screen-name="false" target="_blank"> <i class="fa fa-github fa-2x"></i>
        </a>
      </section> -->
    </div>
  </section>

  <!-- experience -->
  <!-- <section id="experiences" class="container">
    <h2 class="text-center">Experiences</h2>
    <p class="lead" data-aos="fade-right">
      “Protons give an atom its identity, electrons its personality.”<br />-
      Bill Bryson, A short history of nearly everything
    </p>

    <hr />

    <h3>Educations, Trainings & Certification</h3>

    <div class="experiences">
      <div class="experience row">
        <div class="col-md-4" data-aos="fade-right">
          <h4>University Of Benin</h4>
          <p class="experience-period">Jan 2016 - April 2022</p>
        </div>
        <div class="col-md-8" data-aos="fade-left">
          <p>
            <strong>Bachelor - Chemical Engineering </strong>
            <span class="lead">

              Chemical Engineering is the application of principles of fundamental sciences, engineering, economics
              , computer technology and human relations to practical situations in field dealing with processes
              and equipment in wich matter is treated to produce something that is beneficial to the society.
            </span>
            <span class="experience-details">
              <span class="location">
                <span class="glyphicon glyphicon-map-marker"></span>
                Benin City
              </span>
            </span>
          </p>
        </div>
      </div>

      <div class="experience row">
        <div class="col-md-4" data-aos="fade-right">
          <h4>University Of Michigan </h4>
          <p class="experience-period">July 2020 - September 2020</p>
        </div>
        <div class="col-md-8" data-aos="fade-left">
          <p>
            <strong>Course - (Specialization:
              Web Design For Everybody)</strong>
            <span class="lead">

              The education was mainly basic web Development, which covers how to write syntactically
              correct HTML5, and CSS3, how to create interactive web experience with Javascript. Mastering this
              range of technologies allowed me to develop high quality web sites that are responsive and browser
              accessible.
            </span>
            <span class="experience-details">
              <span class="location">
                <span class="glyphicon glyphicon-map-marker"></span>
                Online - Coursera
              </span>
            </span>
          </p>
        </div>
      </div>

      <div class="experience row">
        <div class="col-md-4" data-aos="fade-right">
          <h4>GoodTalent </h4>
          <p class="experience-period">Jan 2020 - August 2020</p>
        </div>
        <div class="col-md-8" data-aos="fade-left">
          <p>
            <strong>Course - (Specialization:
              Fullstack)</strong>
            <span class="lead">

              Graduate Training on Fullstack web technologies on HTML, CSS, BOOTSTRAP, JAVASCRIPT and NODEJS(Express JS)
              <span class="experience-details">
                <span class="location">
                  <span class="fa fa-map-marker"></span>
                  Onsite - Nigeria & Online - Edx
                </span>
              </span>
          </p>
        </div>
      </div>

      <div class="experience row">
        <h3>Certifications</h3>
        <ul class="list-group">
          <li class="list-item lead" data-aos="fade-right">Microsoft Azure Fundamental (AZ-900)</li>
          <li class="list-item lead" data-aos="fade-right">Microsoft AI Fundamental (AI-900)</li>
          <li class="list-item lead" data-aos="fade-right">Beta Microsoft Learn Student Ambassador</li>
          <li class="list-item lead" data-aos="fade-right">Common Purpose Open Source Leader</li>
          <li class="list-item lead" data-aos="fade-right">Front-End Web UI Framework and Tools: Bootstrap 4</li>
          <li class="list-item lead" data-aos="fade-right">Advance Styling with responsive Design</li>
        </ul>
      </div>
    </div>

    <hr />
    <h3>Careers - Professional</h3>

    <div class="experience row">
      <div class="col-md-4" data-aos="fade-right">
        <h4>Zuri Team</h4>
        <p class="experience-period">Jan 2021 - July 2021</p>
      </div>
      <div data-aos="fade-left" class="col-md-8">
        <p>
          <strong>Internship</strong>
          <span class="lead">


          </span>
          <span class="experience-details">
            <span class="location">
              <span class="fa fa-map-marker "></span>
              Nigeria
            </span>

            <span class="seperator">|</span>
            <span class="link">
              <span class="fa fa-link"></span>
              <a href="http://zuri.team" target="_blank">http://zuri.team</a>
            </span>
          </span>
        </p>
      </div>
    </div>

    <hr />

    <h3>Careers - Volunteer Services</h3>

    <div class="experiences">
      <div class="experience row">
        <div class="col-md-4" data-aos="fade-right">
          <h4>Coding Black Female (Black Codher) | Information Technology & Services</h4>
          <p class="experience-period">August 2021 - current</p>
        </div>
        <div class="col-md-8" data-aos="fade-left">
          <p>
            <strong>Part-time (Volunteer) - Fullstack Technical Mentor</strong>
            <span class="lead">
              Programme for women who have an interest in getting into a tech career and the bootcamp will
              empower individuals from the UK with the skills and knowledge to become web/mobile application developers.
              <br /><br />
              I Supports learners weekly either in groups or 1:1 on HTML, CSS, NODEJS AND REACT
            </span>
            <span class="experience-details">
              <span class="location">
                <span class="fa fa-map-marker"></span>
                United State
              </span>

              <span class="seperator">|</span>
              <span class="link">
                <span class="fa fa-link"></span>
                <a href="https://www.blackcodher.com" target="_blank">https://www.blackcodher.com</a>
              </span>
            </span>
          </p>
        </div>
      </div>

      <div class="experience row">
        <div class="col-md-4" data-aos="fade-right">
          <h4>Andela (Google Africa Developer)| Information Technology & Services </h4>
          <p class="experience-period">July 2020 - current</p>
        </div>
        <div class="col-md-8" data-aos="fade-left">
          <p>
            <strong>Part-time (Volunteer) - Fullstack Mobile web Mentor</strong>
            <span class="lead">
              In Andela, Grow with Google, and Pluralsight partnership to support software developers across Africa in
              three different tracks, Associate Android Developer, Associate Cloud Engineer, and Mobile Web Specialist
              through the Google Africa Developer Scholarship 2021.
              <br />
              I volunteered to train scholars and participants on the Mobile Web track.
              <li class="lead">help mentee finish their learning path with great understanding</li>
              <li class="lead">guide mentee with any issue towards learning and building.</li>
            </span>
            <span class="experience-details">
              <span class="location">
                <span class="fa fa-map-marker"></span>
                Nigeria
              </span>

              <span class="seperator">|</span>
              <span class="link">
                <span class="fa fa-link"></span>
                <a href="https://andela.com" target="_blank">https://andela.com</a>
              </span>
            </span>
          </p>
        </div>
      </div>

      <div class="experience row">
        <div class="col-md-4" data-aos="fade-right">
          <h4>Student's Finance Club, University Of Benin | Financial Services</h4>
          <p class="experience-period">March 2021 - current</p>
        </div>
        <div class="col-md-8" data-aos="fade-left">
          <p>
            <strong>Part-time (Volunteer) - Technology Division Lead</strong>

            <span class="lead">
              <li class="lead">Managing our social media accounts.</li>
              <li class="lead">Manage our future website.</li>
              <li class="lead">Hold informational sessions with members of the Tech division and the group at large on
                how to break into
                the tech industry.</li>
              <li class="lead">Organize learning sessions for your division members that will harness their Tech skills
                to better
                position them for Tech opportunities.</li>
              <li class="lead">Be on the lookout for Tech opportunities for members to leverage.</li>
              <li class="lead">Building the division in capacity and manpower, keeping track of your members and making
                sure your members
                are up to date with information.</li>
            </span>
            <span class="experience-details">
              <span class="location">
                <span class="fa fa-map-marker "></span>
                Nigeria
              </span>

              <span class="seperator">|</span>
              <span class="link">
                <span class="fa fa-link"></span>
                <a href="http://sfcuniben.com" target="_blank">http://sfcuniben.com</a>
              </span>
            </span>
          </p>
        </div>
      </div>

      <div class="experience row">
        <div class="col-md-4" data-aos="fade-right">
          <h4>Andela (ALC-MICROSOFT4Afrika)| Information Technology & Services</h4>
          <p class="experience-period">March 2021 - August 2021</p>
        </div>
        <div class="col-md-8" data-aos="fade-left">
          <p>
            <strong>Part-time (Volunteer) - Cloud Training Mentor</strong>
            <span class="lead">

              Training Mentor For ALC-MICROSOFT4Afrika Scholarship Program on the following learning path
              <li class="lead"> AI-900 at learning phase 1</li>
              <li class="lead">AZ-204 at leaning phase 2</li>

              <li class="lead">Assigned to a number of mentees. I guided them in understanding the Microsoft Learn Docs
                learning
                website
                for the learning paths above and resolving any problems they might face along the way.</li>
              <li class="lead">Also mentor them to successfully taking their certification exams.</li>
              <li class="lead">Solve their issues and carry out pair to pair learning for those confused</li>

            </span>
            <span class="experience-details">
              <span class="location">
                <span class="fa fa-map-marker "></span>
                Nigeria
              </span>

              <span class="seperator">|</span>
              <span class="link">
                <span class="fa fa-link"></span>
                <a href="https://andela.com" target="_blank">https://andela.com</a>
              </span>
            </span>
          </p>
        </div>
      </div>

      <hr />
      <h3>Career - Leadership Experience</h3>
      <div class="experience row lead">
        <ul class="list-group">
          <li class="list-item" data-aos="fade-right">Organizer, Power Platform Bootcamp, Microsoft Learn Student
            Ambassador Nigeria </li>
          <li class="list-item" data-aos="fade-right">Director Of Membership, Junior Chamber International Nigeria,
            University Of Benin (2021)
          </li>
          <li class="list-item" data-aos="fade-right">Organizer, Power Platform Bootcamp, Edo State(2021)</li>
          <li class="list-item" data-aos="fade-right">Trainer, Web Developer Bootcamp,SFC University of Benin(2021)</li>
          <li class="list-item" data-aos="fade-right">Mentor, Microsoft Learn Student Ambassador Mixed Reality's
            Bootcamp, (2020)</li>
          <li class="list-item" data-aos="fade-right">Ambassador, Microsoft Learn Student Community Nigeria(2020)</li>
        </ul>
      </div>
    </div>
  </section> -->

  <!-- <section class="bg-white">
    <div id="contact">
      <h2>Contact</h2>
      <p class="lead" data-aos="fade-right">
        “If I had asked people what they wanted, they would have said faster
        horses. ”<br />- Henry Ford
      </p>

      <hr />

      <div class="">
        <div class="col-md-6  mr-5 ml-3" data-aos="fade-left">
          <form action="https://formspree.io/f/xlezdgnb"
              method="POST" class="form form-group validated-form" novalidate method="POST">
            <div class="md-3">
              <label for="name" class="form-label">Your Name*</label>
              <input type="text" id="name" name="name" class="form-control" aria-placeholder="name" required>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="md-3">
              <label for="email" class="form-label">Your Email*</label>
              <input type="email" id="email" name="email" class="form-control" required aria-placeholder="your email">
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="md-3">
              <label for="message" class="form-label">Your Message*</label>
              <textarea class="form-control" cols="30" rows="5" name="message" id="message" required></textarea>
              <div class="valid-feedback">
                Looks good!
              </div>
            </div>
            <div class="my-3">
              <button type="submit" class="btn btn-success">submit</button>
            </div>
          </form>
        </div>
      </div>

      <hr />

    </div>
  </section> -->
</div>
