<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/styles.css">
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
<link rel="manifest" href="/site.webmanifest">
<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">
  <title>Destiny Erhabor's Online Portfolio</title>
</head>
<body class="d-flex flex-column vh-100" data-target="#navbar-example" tabindex="0">
  <main class="bg-color">   
    <%- body %> 
  </main>
   <%- include('../partials/footer') %>
  <script src="/javascript/bootstrap.min.js"></script>  
  <script src="/javascript/validate.js"></script>
  <script src="/javascript/scroll.js"></script>
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script src="https://unpkg.com/typewriter-effect@latest/dist/core.js"></script>
  <script>
    AOS.init();

    var app = document.getElementById('app');
    var app2 = document.getElementById('app2');
    
    var typewriter = new Typewriter(app, {
      loop: true,
      delay: 75,
    });
    typewriter
      .pauseFor(10)
      .typeString('Destiny Erhabor')
      .pauseFor(900)
      .deleteChars(15)
      .start();      

    var typewriter = new Typewriter(app2, {
      loop: true,
      delay: 75,
    });
    typewriter
      .pauseFor(900)
      .typeString('Interactive Portfolio')
      .pauseFor(300)
      .deleteChars(10)
      .start();


    var app3 = document.getElementById('app3');

    var typewriter = new Typewriter(app3, {
      loop: true,
      delay: 50,
    });
    typewriter
      .pauseFor(1)
      .typeString('I am a <strong style="color: #22a39f;">Software Developer</strong>')
      .pauseFor(1)
      .deleteChars(34)
      .typeString('I am a <strong style="color: #22a39f;">Technical Writer</strong>')
      .pauseFor(10)
      .deleteChars(34)
      .typeString('I am a <strong style="color: #22a39f;">Cloud Developer and Teacher</strong>')
      .pauseFor(1)
      .start();
  </script>

  

</body>
</html>